.section {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  transition: background 0.3s ease, color 0.3s ease;
  background-size: cover;
  background-position: 50% 50%;
}

.sticky{
  position: sticky;
  top:0;
}

.sectionContent {
  position: relative;
  z-index: 2;
  padding: 2rem;
  text-align: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1;
}
@media (max-width: 768px) {
  .section {
    background-position: center top;
    min-height: 75vh; /* optional, makes hero shorter on mobile */
  }
}
